:root {
    --ff-primary: "Outfit", serif;
    --ff-secondary: "Young Serif", serif;

    --fw-400: 400;
    --fw-600: 600;
    --fw-700: 700;


    --background-color: hsl(0, 0%, 100%);
    --stone-100: hsl(30, 54%, 90%);
    --stone-150: hsl(30, 18%, 87%);
    --stone-600: hsl(30, 10%, 34%);
    --stone-900: hsl(24, 5%, 18%);
    --brown-800: hsl(14, 45%, 36%);

    --rose-800: hsl(332, 51%, 32%);
    --rose-50: hsl(330, 100%, 98%);

}

*,
*::before,
*::after {
    margin: 0;
    box-sizing: border-box;
}

body {
    background: var(--background-color);
    font-family: var(--ff-primary );
    
}

img {
    width: 100%;
    display: block;
}